/* .abc {
  text-align: right;
  direction: rtl;
} */

.abc {
  float: right;
  width: 20%;
  text-align: right;
}

.one {
  float: right;
  width: 50%;
  float: right;
}

body {
  text-align: right;
  direction: rtl;
}

#block1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  height: 1000px;
  margin-top: 50px;
}
